<div class='review'>
  <div class="user">
      <%= comment.student_id %>
  </div>

<% if current_user.role =="Student" %>
  <% @student = Student.where(:email => current_user.email) %>
  <% @student.each do |student| %>
      <div class="comment well">
        <% if student.student_name == comment.student_id %>
         <div style="float:right; margin-top:0px;">
          <%= link_to (image_tag ("../close.png"), :size => "10x10"), [comment.forum, comment], :confirm => "Are you sure?", :method => :delete %>
          </div>
        <% end %>
          <%= comment.body %>
      </div>
  <% end %>
<% elsif  %>
  <div class="comment well">
    <%= comment.body %>
  </div>
<% end %>

</div>

